# Entorno virtual
venv/
.venv/
env/

.claude

# Archivos temporales de Python (Caché)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno y credenciales (¡Muy importante por OpenAI!)
.env
.env.local